.reach{
  background: rgb(126,1,140);
background: linear-gradient(90deg, rgba(126,1,140,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
min-height: 550px;
color: aliceblue;
}
.form{
 margin-top: 90px;
 margin-left: 190px;
 margin-right: 80px;
 margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
#formbtn{
  justify-items: center;
}

a{
  text-decoration: none;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
 
}

.iconbutton{
 padding-left: 20px;
}

#search2{
  padding-bottom: 5px;
}